body{
-webkit-print-color-adjust: exact;
margin:0;
}
::selection{
color:whitesmoke;
background:gray;
}
br, img{
user-select: none;
}
b{
font-weight: 700;
}
*{
padding:0;
margin:0;
font-family: "IBM Plex Sans Arabic", sans-serif;
font-weight: 500;
font-style: normal;
transition-duration:0.2s;
-webkit-transition-duration:0.2s;
-webkit-tap-highlight-color:transparent;
}
.work-tr{
background-color: #2E635A23;
}
.expired{
background-color: #E67E7368;
}
.near-expiry {
background-color: #FFD70045;
}
table, td, th {
border-collapse: collapse;
border: 1px solid #000;
padding:5px;
text-align:center;
font-size:8px;
font-family: "IBM Plex Sans Arabic", sans-serif;
font-weight: 500;
font-style: normal;
}
table{
margin:20px auto;
width:95%;
}
.table-head{
background-color:#2E635A;
color:white;
font-family: "IBM Plex Sans Arabic", sans-serif;
font-weight: 700;
font-style: normal;
}
tr td:nth-child(3){
min-width: 50px;
}
.headings{
background-color:#2E635Aaa;
color:white;
font-family: "IBM Plex Sans Arabic", sans-serif;
font-weight: 600;
font-style: normal;
}
button{
background-color:transparent;
border:none;
font-size:12px; 
}
button:hover{
cursor: pointer;
}
input[type="checkbox"]:hover{
cursor: pointer;
}
input[type="checkbox"]:disabled:hover{
cursor: default;
}
input[type="checkbox"]:checked{
accent-color: #000;
}
header{
position: absolute;
top:0;
width:100%;
height:45px;
overflow:hidden;
box-shadow:0px 3px 3px #000000aa;
z-index:996;
color:#2E635A;
background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='50.222' height='29.003' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M58.592-14.503h-16.74m6.277 3.627H56.5l4.188 7.25h-8.373zM60.686 3.623l-4.187 7.25h-8.372l4.187-7.25zM41.852-7.252l4.185 7.25-4.185 7.252L37.666 0zm25.11 7.25L58.593 14.5h-16.74L33.481-.001l8.371-14.501m16.74-.001l8.37 14.502m0 0h-16.74v0m-8.37-14.501l8.37 14.502-8.37 14.503M8.371-14.502H-8.37m6.276 3.627h8.371l4.188 7.25H2.093zM10.464 3.624l-4.186 7.25h-8.373l4.187-7.25zM-8.37-7.251L-4.185 0-8.37 7.252-12.556 0zM16.74 0l-8.37 14.502H-8.37L-16.742 0l8.371-14.501m16.74-.001L16.741-.001m0 0H.001v0m-8.37-14.501L0 0l-8.37 14.503m6.275 3.625h8.372l4.187 7.25H2.093zm12.558 14.499l-4.187 7.25h-8.372l4.187-7.25zM-8.371 21.752l4.185 7.25-4.185 7.252-4.185-7.251zm25.112 7.25L8.37 43.504H-8.37l-8.371-14.502 8.37-14.501M8.37 14.5l8.372 14.502m0 0H0v0M-8.37 14.502L0 29.003l-8.37 14.503M48.13 18.127l8.371.001 4.188 7.25h-8.373zm12.557 14.5l-4.187 7.249-8.372.001 4.187-7.25zM41.852 21.751l4.185 7.25-4.185 7.252-4.186-7.252zm25.11 7.25l-8.37 14.502h-16.74L33.48 29.003m25.11-14.503l8.372 14.503m0 0h-16.74v0m-8.371-14.501l8.37 14.501-8.37 14.503M33.482 0h-16.74m6.276 3.627l8.371.001 4.188 7.25h-8.373zm12.557 14.5l-4.187 7.249-8.372.001 4.187-7.25zM16.741 7.25l4.185 7.25-4.185 7.252-4.186-7.252zm25.11 7.25l-8.37 14.502h-16.74m25.11-14.502h-16.74v0M16.742 0l8.37 14.502-8.37 14.503'  stroke-linecap='square' stroke-width='1' stroke='hsla(170, 37%, 28%, 0.1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}
.todays-date{
font-size:5px;
text-align:center;
padding-top:3px;
position:absolute;
left:8px;
width:fit-content;
font-weight:700;
}
#miladi-date{
position:relative;
top:8px;
padding-right:20px;
font-size:9px;
font-weight:700;
}
#hijri-date{
position:relative;
bottom:0px;
font-size:9px;
font-weight:700;
}
details{
padding:5px;
background-color:#ffffff44;
border-radius:5px;
margin:5px 0;
}
details summary{
cursor: pointer;
transition: all 0.12s ease-out;
border-radius: 5px;
display: block;
}
details[open] summary {
margin-bottom: 5px;
border-radius: 10px 5px;
padding: 5px;
background-color:#ffffff66;
}
details[open] summary::after{
content:':';
}
details:not([open]) summary::after{
content:'.';
}
details summary::-webkit-details-marker{
display:none;
}
details[open] summary::before{
content:'⟁';
transform: rotate(-180deg) translateX(-2px);
display: inline-block;
transition: all 0.12s ease-out;
}
details:not([open]) summary::before{
content:'⟁';
transform: rotate(-90deg) translateY(2px);
display: inline-block;
transition: all 0.12s ease-out;
}
a:hover{
opacity:0.5;
transition:opacity 0.3s ease-in-out;
-webkit-transition:opacity 0.3s ease-in-out;
cursor:pointer;
}
a{
color:navy;
}
a:visited{
color:grey;
}
a::after{
font-family: "Font Awesome 6 Free";
font-weight: 900;
content: "\f35d";
position:relative;
top:-1px;
transform: scale(0.65) rotateY(180deg);
display:inline-block;
}
.header-btns-div{
position:absolute;
right:0px;
height:43px;
display:grid;
grid-template-columns:1fr 1fr;
}
.header-btns{
font-size:9px;
font-weight:700;
color:#2E635A;
margin:auto 5px;
}
.header-btns i{
padding-left:3px;
}
.header-btns:active:hover{
opacity:0.5;
transition:opacity 0.3s ease-in-out;
-webkit-transition:opacity 0.3s ease-in-out;
cursor:pointer;
}
#most-prominent-contributors{
position: relative;
}
.marquee{
font-family: helvetica-world-bold;
font-size: 18px;
color: #2E635A;
position: absolute;
box-shadow:0px 2px 5px #000000aa;
top: 48px;
white-space: nowrap;
overflow: hidden;
background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='50.222' height='29.003' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M58.592-14.503h-16.74m6.277 3.627H56.5l4.188 7.25h-8.373zM60.686 3.623l-4.187 7.25h-8.372l4.187-7.25zM41.852-7.252l4.185 7.25-4.185 7.252L37.666 0zm25.11 7.25L58.593 14.5h-16.74L33.481-.001l8.371-14.501m16.74-.001l8.37 14.502m0 0h-16.74v0m-8.37-14.501l8.37 14.502-8.37 14.503M8.371-14.502H-8.37m6.276 3.627h8.371l4.188 7.25H2.093zM10.464 3.624l-4.186 7.25h-8.373l4.187-7.25zM-8.37-7.251L-4.185 0-8.37 7.252-12.556 0zM16.74 0l-8.37 14.502H-8.37L-16.742 0l8.371-14.501m16.74-.001L16.741-.001m0 0H.001v0m-8.37-14.501L0 0l-8.37 14.503m6.275 3.625h8.372l4.187 7.25H2.093zm12.558 14.499l-4.187 7.25h-8.372l4.187-7.25zM-8.371 21.752l4.185 7.25-4.185 7.252-4.185-7.251zm25.112 7.25L8.37 43.504H-8.37l-8.371-14.502 8.37-14.501M8.37 14.5l8.372 14.502m0 0H0v0M-8.37 14.502L0 29.003l-8.37 14.503M48.13 18.127l8.371.001 4.188 7.25h-8.373zm12.557 14.5l-4.187 7.249-8.372.001 4.187-7.25zM41.852 21.751l4.185 7.25-4.185 7.252-4.186-7.252zm25.11 7.25l-8.37 14.502h-16.74L33.48 29.003m25.11-14.503l8.372 14.503m0 0h-16.74v0m-8.371-14.501l8.37 14.501-8.37 14.503M33.482 0h-16.74m6.276 3.627l8.371.001 4.188 7.25h-8.373zm12.557 14.5l-4.187 7.249-8.372.001 4.187-7.25zM16.741 7.25l4.185 7.25-4.185 7.252-4.186-7.252zm25.11 7.25l-8.37 14.502h-16.74m25.11-14.502h-16.74v0M16.742 0l8.37 14.502-8.37 14.503'  stroke-linecap='square' stroke-width='1' stroke='hsla(170, 37%, 28%, 0.05)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
z-index:995;
height:20px;
width:100%;
}
.marquee p{
animation: marquee-scroll 8s linear infinite;
text-align:center;
padding:2px 0;
z-index: 950;
position:relative;
font-size:8px;
top:1px;
font-weight: 700;
}
.marquee span{
background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='23.07' height='40' patternTransform='scale(0.5) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 93%, 1)'/><path d='M17.62 0l-6.07 10.5m2.74 4.76L8.22 4.75m-5.48 0h12.13M.01 0h23.07M6.07 20L0 9.5m2.74-4.75l-6.07 10.5m-5.48 0H3.33m8.2 4.75L0 .02-11.54 20m40.68 0L23.07 9.5m2.74-4.75l-6.06 10.5m-5.49 0H26.4M34.6 20L23.08.02 11.53 20m-5.46 0L0 30.51m2.74 4.75l-6.07-10.5m-5.48 0H3.33m8.2-4.75L0 40l-11.54-19.98zM17.6 40l-6.06-10.5m2.74-4.76L8.2 35.25m-5.48 0h12.13M0 40h23.07L11.54 20.01m17.6 0l-6.07 10.5m2.74 4.75l-6.06-10.5m-5.49 0H26.4M11.53 20h23.08L23.07 40'  stroke-linejoin='round' stroke-linecap='round' stroke-width='1' stroke='hsla(170, 37%, 28%, 1)' fill='hsla(0, 0%, 93%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
display:inline-block;
height:20px;
width:50px;
z-index:955;
}
.marquee span:nth-child(odd){
position:absolute;
right:0;
border-radius:100px 0 0 0;
box-shadow:5px 0 10px #000000aa;
}
.marquee span:nth-child(even){
position:absolute;
left:0;
border-radius:0 0 100px 0;
box-shadow:-5px 0 10px #000000aa;
}
@keyframes marquee-scroll{
0%{
transform: translateX(-80%);
}
100%{
transform: translateX(80%);
}
}
.logo-div{
position:absolute;
margin:0 auto;
top:-20px;
right:45vw;
}
.logo-div img{
width:100px;
position:absolute;
top:-8px;
}
.logo-div img:hover{
cursor: pointer;
}
.select-css {
display: block;
font-size: 10px;
font-weight: 600;
color: #000;
line-height: 1.5;
padding: .6em 1.4em .5em .8em;
width: 95%;
max-width: 100%;
box-sizing: border-box;
margin: 0 auto;
border: 1px solid #aaa;
box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
border-radius: .5em;
-moz-appearance: none;
-webkit-appearance: none;
appearance: none;
background-color: #fff;
background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
background-repeat: no-repeat, repeat;
background-position: right .7em top 50%, 0 0;
background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
display: none;
}
.select-css:hover {
border-color: #888;
cursor: pointer;
}
.select-css:focus {
border-color: #aaa;
box-shadow: 0 0 1px 3px #2E635A11;
box-shadow: 0 0 0 3px -moz-mac-focusring;
outline: none;
}
.select-css option {
font-weight:normal;
}
*[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css {
background-position: left .7em top 50%, 0 0;
padding: .6em .8em .5em 1.4em;
}
#loaderBox{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-attachment:fixed;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
opacity: 1;
transition: opacity 1s ease-out;
-webkit-transition: opacity 0.1s ease-out;
z-index: 10000;
background: #fff;
}
@keyframes fade-in{
from{
opacity:0;
}
to{
opacity:1;
}
}
@keyframes fade-out{
from{
opacity:1;
}
to{
opacity:0;
}
}
noscript{
color:darkred;
font-family: "IBM Plex Sans Arabic", sans-serif;
font-weight: 700;
position:absolute;
top:160px;
}
.alertBtns{
font-family: "IBM Plex Sans Arabic", sans-serif;
direction:rtl;
border:none;
font-size:18px;
padding:10px 25px;
margin:auto 25px;
border-radius:4px;
font-weight: 500;
color:whitesmoke;
}
.alertBtns:active:hover, .okBtn:active:hover{
filter:brightness(0.9);
transition:filter 0.01s ease-in-out;
-webkit-transition:filter 0.01s ease-in-out;
cursor:pointer;
}
.confirmButton{
background-color:#28A745;
}
.cancelButton{
background-color:#DC3545;
}
.closeButton{
font-size:55px;
}
.closeButton:active:hover{
cursor:pointer
}
.swal2-popup{
font-size: 1rem !important;
font-family: "IBM Plex Sans Arabic", sans-serif;
direction:ltr;
}
@keyframes reflection{
0%{
transform: rotateY(0deg);
}
50%{
transform: rotateY(180deg);
}
100%{
transform: rotateY(0deg);
}
}
.warning-icon, .install-app-icon, .star-icon, .check-icon, .close-icon{
animation: reflection 0.9s ease-in-out;
position: relative;
color:#F8BB86;
border:4px solid #F8BB86; 
padding:16px 20px 20px 20px;
border-radius: 50%;
margin-bottom: -3px;
}
.swal2-icon{
border:none;
}
.swal2-title{
direction:rtl;
}
.okBtn{
font-family: "IBM Plex Sans Arabic", sans-serif;
direction:rtl;
border:none;
font-size:18px;
padding:10px 20px;
border-radius:4px;
font-weight: 500;
color:whitesmoke;
background-color:#3085D6;
}
.install-app-icon{
color:#87ADBD;
border:4px #87ADBD solid;
}
.star-icon{
color:#7066E0;
border:4px #7066E0 solid;
padding:20px 16px;
}
.check-icon{
color:#A5DC86;
border:4px #A5DC86 solid;
}
.close-icon{
color:#F27474;
border:4px #F27474 solid;
}
.highlighted{
animation: flash 0.75s ease-in-out;
animation-iteration-count: 3;
}

@keyframes flash {
50%{
background-color: cornflowerblue;
}
}
.break{
height:60px;
width:100%;
}
footer {
width:100%;
height:45px;
overflow:hidden;
box-shadow:0px 3px 3px #000000aa;
z-index:996;
color:#2E635A;
background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='50.222' height='29.003' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M58.592-14.503h-16.74m6.277 3.627H56.5l4.188 7.25h-8.373zM60.686 3.623l-4.187 7.25h-8.372l4.187-7.25zM41.852-7.252l4.185 7.25-4.185 7.252L37.666 0zm25.11 7.25L58.593 14.5h-16.74L33.481-.001l8.371-14.501m16.74-.001l8.37 14.502m0 0h-16.74v0m-8.37-14.501l8.37 14.502-8.37 14.503M8.371-14.502H-8.37m6.276 3.627h8.371l4.188 7.25H2.093zM10.464 3.624l-4.186 7.25h-8.373l4.187-7.25zM-8.37-7.251L-4.185 0-8.37 7.252-12.556 0zM16.74 0l-8.37 14.502H-8.37L-16.742 0l8.371-14.501m16.74-.001L16.741-.001m0 0H.001v0m-8.37-14.501L0 0l-8.37 14.503m6.275 3.625h8.372l4.187 7.25H2.093zm12.558 14.499l-4.187 7.25h-8.372l4.187-7.25zM-8.371 21.752l4.185 7.25-4.185 7.252-4.185-7.251zm25.112 7.25L8.37 43.504H-8.37l-8.371-14.502 8.37-14.501M8.37 14.5l8.372 14.502m0 0H0v0M-8.37 14.502L0 29.003l-8.37 14.503M48.13 18.127l8.371.001 4.188 7.25h-8.373zm12.557 14.5l-4.187 7.249-8.372.001 4.187-7.25zM41.852 21.751l4.185 7.25-4.185 7.252-4.186-7.252zm25.11 7.25l-8.37 14.502h-16.74L33.48 29.003m25.11-14.503l8.372 14.503m0 0h-16.74v0m-8.371-14.501l8.37 14.501-8.37 14.503M33.482 0h-16.74m6.276 3.627l8.371.001 4.188 7.25h-8.373zm12.557 14.5l-4.187 7.249-8.372.001 4.187-7.25zM16.741 7.25l4.185 7.25-4.185 7.252-4.186-7.252zm25.11 7.25l-8.37 14.502h-16.74m25.11-14.502h-16.74v0M16.742 0l8.37 14.502-8.37 14.503'  stroke-linecap='square' stroke-width='1' stroke='hsla(170, 37%, 28%, 0.1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
box-shadow:0 0 14px #000;
position:absolute;
bottom:0;
z-index:996;
text-align: center;
}